<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hello, World!</h1>
  			<h2>Blace Houle</h2>
  			<h3>The Data Incubator</h3>
  			<h4>11 August 2016</h4>
  			<h5>Day One Project Milestone</h5>
  			<h6>My apologies for the lack of creativity</h6>
		</div>
	</body>
</html>
